@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins,sans-serif;
}
body{
    background-color: #FFFFFF;
}
/* First wrapper css */
.main_wrapper{
    background-color: #1D2951;
    display: flex;
    
}
nav{
    background-color: #1D2951 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 10vh;
    position: sticky;
    top: 0;
    z-index: 5;
    
    
}
.checkbtn{
    font-size: 30px;
    color: white;
    align-self: flex-end;
    cursor: pointer; 
    display: none;
}
#check{
    display: none;
}

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
nav ul li{
    list-style-type: none;
    padding: 10px;
    /* font-family: Poppins,sans-serif; */
    font-size: 14px;
    letter-spacing: .085em;
    line-height: 23px;
    text-transform: uppercase;
    font-weight: 400;
  
}
a{
    color: white;
    text-decoration: none;
}
button:hover{
    cursor: pointer;
    text-decoration: underline;
}
ul button {
    height: 5%;
    padding: 5px 20px;
    border-radius: 20px;
    color: white;
    outline: none;
    border: none;
}
.button1{
    background-color:#1D2951  ;
    border: 1px solid white;
}
.button2{
    background-color: #3DA5D9;
    outline: none;
    
}
.second_wrapper{
    display: flex;

}

.text_container{
    width: 50vw;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 5% 10% 5% 5%;
    font-weight: 300;
}

.sw_buttons button{
    align-self: center;
    background-color: #3DA5D9;
    height: 100%;
    padding: .5rem;
}

.video_container iframe{
    display: flex;
    /* margin: auto; */
    width: 40vw;

}

/* Review wrpper css */

.review_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F7F7F7;
    /* height: 600px; */
}
.review_wrapper h1,.importance_wrapper h1{
    text-align: center;
    font-weight: 200;
    font-size: 5vh;

}
.review_wrapper img,.simplify_content img{
    width: 90%;
}

.review_text{
    display: flex;
    justify-content: space-around;
    padding: 10px 50px;
    font-size: .8rem;
    
}
.review_text h1{
    font-size: 4vh;
    
}

.review_text div{
   padding-left: 30px;
}

/* Importance wrapper css */

.importance_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.importance_content{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 10px 20px;
}
.importance_wrapper img{
    margin-top: 20px;
}

/* Award info css code */

.award_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #1D2951;
    color: #FFFFFF;
    text-align: center;
    align-items: center;
    padding: 5rem;
}
.award_wrapper h2{
    padding: 1rem 15rem;
    font-weight: 300;
    
}
.awardInfo_wrapper{
    display: flex;
    padding-top: 2rem;
    
}
.awardInfo_wrapper img{
    margin: auto;
    width: 35rem;
    height: 15rem;

}
.award_text{
    display: flex;
    flex-direction: column;
   text-align: left;
   padding: 3rem  0 0 2rem;
   font-size: 1.3rem;
   justify-content: space-between;

    
    
}

/* simplify wrapper code */

.simplify_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.simplify_wrapper h2{
    padding-top: 5vh;
    font-size: 5vh;
    font-weight: 300;
    

}
.simplify_content{
    display: flex;
    justify-content: space-between;
    margin: 5rem 8rem;
}

/* .simplify_content img{
    width: 40rem;
    height: 20rem;
    padding-left: 3rem;
    
}  */
.simplify_text h2{
    font-weight: 200;
}


@media screen and (min-width:480px) and (max-width:768px) {

    .checkbtn{
        display: block;
    }
    nav ul{
        display: flex;
        flex-direction: column;
        justify-content: unset;
        position: fixed;
        width: 98vw;
        height: 80vh;
        background-color: white;
        top: 10px;
        top: -100;
        /* right: 20px; */
        /* left: 30%; */
        text-align: center;
        margin-top:7vh ;
        transition: all 0.10s;
    }
    /* nav ul li{
        color: #1D2951;
    } */
    nav ul li a{
        font-size: 15px;
        color: #1D2951;
    }
    a:hover,a:active{
        background: none;
        color: #0082e6;

    }
    #check:checked ~ul{
        top: 0;
        display: none;
    }
    ul button{
        width: 10rem;
        height: 2rem;
    }

    .sw_buttons button{
        display: inline-block;
        align-self: center;
        background-color: #3DA5D9;
        height: 60%;
        /* padding: .5rem; */
        margin-top:1rem ;
    }
    
    .second_wrapper{
    flex-direction: column;
        
    }
    .text_container{
        padding: 0;
        align-self: center;
        margin-bottom: 1vh;
    }

    .video_container iframe,.awardInfo_wrapper img,.simplify_content img{
        width: 90vw;
        align-self: center;
        margin-left: 5vw;
        height: 70vh;
        margin-bottom: 2vh;
    }

    .review_text,.importance_content{
        flex-wrap: wrap;
    }
    .review_wrapper img{
        width: 60vw;
        height: 100%
    }
    .awardInfo_wrapper,.simplify_content{
        flex-direction: column;
    }
}

@media screen and (max-width:480px) {
    .checkbtn{
        display: block;
    }
    nav ul{
        display: flex;
        flex-direction: column;
        justify-content: unset;
        position: fixed;
        width: 98vw;
        height: 80vh;
        background-color: white;
        top: 10px;
        top: -100;
        /* right: 20px; */
        /* left: 30%; */
        text-align: center;
        margin-top:7vh ;
        transition: all 0.10s;
    }
    /* nav ul li{
        color: white;
    } */
    nav ul li a{
        font-size: 15px;
        color: #1D2951;
    }
    a:hover,a:active{
        background: none;
        color: #0082e6;

    }
    #check:checked ~ul{
        top: 0;
        display: none;
    }
    ul button{
        width: 10rem;
        height: 2rem;
    }

    .sw_buttons button{
        display: flex;
        align-self: center;
        background-color: #3DA5D9;
        height: 40%;
        /* padding: .5rem; */
        margin-top:1rem ;
    }
    
    .second_wrapper{
    flex-direction: column;
        
    }
    .text_container{
        padding: 0;
        align-self: center;
        margin-bottom: 1vh;
    }

    .video_container iframe,.awardInfo_wrapper img,.simplify_content img{
        width: 90vw;
        align-self: center;
        margin-left: 5vw;
        height: 30vh;
        margin-bottom: 2vh;
    }

    .review_text,.importance_content{
        flex-wrap: wrap;
    }
    .review_wrapper img{
        width: 65vw;
    }
    .awardInfo_wrapper,.simplify_content{
        flex-direction: column;
    }
}

@media screen and (min-width:768px) and (max-width:1024px) {

    .button2{
        width: 7rem;
        padding: 0;
    }

    .sw_buttons button{
        display: inline-block;
        align-self: center;
        background-color: #3DA5D9;
        height: 60%;
        /* padding: .5rem; */
        margin-top:1rem ;
    }
    
    .second_wrapper{
    flex-direction: column;
        
    }
    .text_container{
        padding: 0;
        align-self: center;
        margin-bottom: 1vh;
    }

    .awardInfo_wrapper img,.simplify_content img{
        width: 60vw;
        align-self: center;
        margin-left: 5vw;
        height: 50vh;
        margin-bottom: 2vh;
    }
    .video_container iframe{
        width: 90vw !important;
        height: 70vh !important;
        margin-left: 5vw;
    }

    .review_text,.importance_content{
        flex-wrap: wrap;
    }
    .review_wrapper img{
        width: 60vw;
        height: 100%
    }
    .awardInfo_wrapper,.simplify_content{
        flex-direction: column;
    }
}

@media screen and (min-width:480px)and (max-width:588px){
    
    .sw_buttons button{
        display: flex;
        flex-direction: column;
    }
}